* {
  /* Inicializa sem qualquer padding ou margem */
  margin: 0;
  padding: 0;
  
  /* Configura para que o cálculo de margem e padding seja feito de acordo com 'border-box' (de borda a borda) */
  box-sizing: border-box;
}

:root {
  /* Variáveis de Cor */
  --text-color: #000000;
  --header-color: #000000;

  --bg-color: #D9D9D9;
  --bg-card-sobremim: #5091AC;
  --bg-card-minhafoto: #FFFFFF;
  --bg-color-buttons: #B0B0B0;
  --color-linkhover: #43A0D4;
  --color-link-out: #000000;
  --color-link-atual: #43A0D4;
  --color-line: #5091AC;

  /* Variáveis de Fontes */
  --font-family-principal: "Inria Sans", sans-serif;
  --font-family-secondary: "Inter", sans-serif;
  --text-sm: 300 24px/150% var(--font-family-principal);
  --text-md: normal 30px/150% var(--font-family-principal);
  --text-lg: bold 30px/100% var(--font-family-principal);
  --text-header-one: bold 40px/150% var(--font-family-secondary); 
  --text-header-sobremim: bold 40px/150% var(--font-family-principal); 
  --text-tecnologies: bold 20px/150% var(--font-family-principal);   
}

body {
  font: var(--text-md);
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* =================================== */

a {
  text-decoration: none;
  color: var(--color-link-out);
}

a:hover {
  color: var(--color-linkhover);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-inline: auto;
  margin-top: 30px;
  padding-inline: 54px;
}

.cards {
  margin-inline: auto;
  margin-top: 45%;
  padding-inline: 54px;
}
